.editable
  %form#edit{:method =>:post, :action => '/profile/edit/{{instance.id}}'}
    = select_tag :name =>:practice, :values=>@practices, :instance=>@instance
    = cancelLink "li#exp_{{instance.id}}", "/profile/show/{{instance.id}}", "(annul.)"
    %input{:type=>:submit,:id=>:change,:value=>"Modifier"}
