= profile.first_name
= profile.last_name

<br/>
<br/>
Mes pratiques et compétences agiles:
.practices
  %ul
  {{#experiences}}
    %li#exp_{{id}}.editable
      {{title}}
      %span.edit
        <a onClick="$('li#exp_{{id}}').load('/profile/edit/{{id}}');">(modif.)</a>
        <a onClick="$.post('/profile/delete/{{id}}',function(){$('li#exp_{{id}}').remove();})">(suppr.)</a>
  {{/experiences}}

{{> experience_add}}
<script type="text/javascript">
$(".editable").hover(function() {$(".edit",this).show();},function() {$(".edit",this).hide();});
</script>
