= profile.first_name
= profile.last_name

<br/>
<br/>
Mes pratiques et compétences agiles:
.practices
  %ul
  {{#experiences}}
    %li {{title}}
  {{/experiences}}
%form#add{:method =>:post, :action => '/profile/add'}
  %select{:name =>:practice}
    {{#practices}}
    %option{:value =>"{{id}}"} {{title}}
    {{/practices}}
  %input{:type=>:submit,:id=>:addit,:value=>"Ajouter"}
<br/>
