= profile.first_name
= profile.last_name

<br/>
<br/>
Mes pratiques et compétences agiles:
.practices
  %ul
  {{#experiences}}
    {{> experience_show}}
  {{/experiences}}

{{> experience_add}}
<script type="text/javascript">
$(".editable").hover(function() {$(".edit",this).show();},function() {$(".edit",this).hide();});
</script>
